<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:annotation-config />
	<aop:aspectj-autoproxy />

	<bean id="logging" class="com.spring.aop.Logging"></bean>
	<bean id="security" class="com.spring.aop.Security"></bean>
	<bean id="transaction" class="com.spring.aop.Transaction"></bean>
	<bean id="account" class="com.spring.aop.Account"></bean>
	<bean id="fundTransfer" class="com.spring.aop.FundTransfer"></bean>

	<aop:config>
		<aop:pointcut expression="execution(* com.spring.aop.Account.up*(..))"
			id="PC1-UPDATE" />
		<aop:pointcut expression="execution(* com.spring.aop.Account.app*(..))"
			id="PC2-CHECKBOOK" />

		<aop:aspect ref="logging">
			<aop:before method="beginLogging" pointcut-ref="PC1-UPDATE" />
		</aop:aspect>
		<aop:aspect ref="security">
			<aop:before method="verifyUser" pointcut-ref="PC1-UPDATE" />
			<aop:before method="verifyUser" pointcut-ref="PC2-CHECKBOOK" />
			<aop:before method="verifyUsername" pointcut-ref="PC2-CHECKBOOK" />
			<aop:before method="verifyPassword" pointcut-ref="PC2-CHECKBOOK" />

		</aop:aspect>
		<aop:aspect ref="transaction">
			<aop:before method="beginTransaction" pointcut-ref="PC1-UPDATE" />
			<aop:before method="beginTransaction" pointcut-ref="PC2-CHECKBOOK" />
		</aop:aspect>
		<aop:aspect ref="transaction">
			<aop:after method="commitTransaction" pointcut-ref="PC1-UPDATE" />
			<aop:after method="commitTransaction" pointcut-ref="PC2-CHECKBOOK" />

		</aop:aspect>
		<aop:aspect ref="security">
			<aop:after method="verifyUser" pointcut-ref="PC1-UPDATE" />
			<aop:after method="verifyUser" pointcut-ref="PC2-CHECKBOOK" />

		</aop:aspect>
		<aop:aspect ref="logging">
			<aop:after method="endLogging" pointcut-ref="PC1-UPDATE" />
			<aop:after method="endLogging" pointcut-ref="PC2-CHECKBOOK" />
		</aop:aspect>
	</aop:config>
</beans>
