<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	<context:annotation-config />

	<bean id="person" class="com.spring.inner.bean.Person">
		<property name="pid" value="99"></property>
	</bean>
	<bean id="student" class="com.spring.inner.bean.Person$Student">
		<property name="sname" value="Hai Student"></property>
	</bean>
	<bean id="employee" class="com.spring.inner.bean.Person$Employee">
		<property name="ename" value="Hai Employee"></property>
	</bean>
	<bean id="test" class="com.spring.inner.bean.Test" />


</beans>
