<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<context:annotation-config />

	<bean  id="test" class="com.spring.postprocessors.Test"
		init-method="initialised" destroy-method="destroyed">
	</bean>
	<bean id="myBean" class="com.spring.postprocessors.MyBean">
		<constructor-arg name="a" value="99"></constructor-arg>
		<constructor-arg name="s" value="Singh"></constructor-arg>

	</bean>
	<bean class="com.spring.postprocessors.MySpringContainer"></bean>




</beans>
